{
  "presets": [
    "flow"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "browsers": ["> 3%, last 2 versions, not ie < 11"],
          "modules": false
        }],
        "flow"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-class-properties",
      ],
    }
  }
}
